<!DOCTYPE html>
<html  lang="ro">
    <head>
    
        <%- include("../fragmente/head.ejs") %>
        <link rel="stylesheet" href="/resurse/css/eroare.css" type="text/css"> 
        <meta name="keywords"

            content="carte, povesti, transport curier, bestseller, manual, dictionare, Romania, biografii, review, carte copii, carte dezvoltare personale">
        <meta name="description"
            content="Magazin de carti. Carti, dictionare, manuale. Carti pentru copii, adolescenti, Carti de dezvoltare personala, Carti bestseller. Livrare la domiciliu">
        <title>Magazin de carti</title>

    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 
    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>